# SF Salaries Pandas Exercise
We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along. One of the objectives of this assignment is to help you become accustomed to searching for relevant library functions online.

**Import pandas as pd.**

In [1]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [2]:
# from google.colab import files
# uploaded = files.upload()
url = 'https://raw.githubusercontent.com/himanshuhy004/MachineLearning_AME/main/Salaries.csv'
sal = pd.read_csv(url)

**Check the head of the DataFrame.**

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
avgBase = sal.mean()['BasePay']

<ipython-input-5-8baf321263e9>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  avgBase = sal.mean()['BasePay']

In [6]:
print(avgBase)

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [7]:
mxOvertimePay = sal.max()['OvertimePay']

In [8]:
print(mxOvertimePay)

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [9]:
jt = sal.loc[(sal['EmployeeName'] == 'JOSEPH DRISCOLL')]['JobTitle']

In [10]:
print(jt)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [11]:
pay = sal.loc[(sal['EmployeeName'] == 'JOSEPH DRISCOLL')]['TotalPayBenefits']

In [12]:
print(pay)

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [13]:
HighestPaidPerson = sal.loc[sal['TotalPayBenefits'] == sal.max()['TotalPayBenefits']]['EmployeeName']
print(HighestPaidPerson)

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [14]:
LowestPaidPerson = sal.loc[sal['TotalPayBenefits'] == sal.min()['TotalPayBenefits']]['EmployeeName']

In [15]:
print(LowestPaidPerson)

148653    Joe Lopez
Name: EmployeeName, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [16]:
AvgBasePay1 = sal.loc[(sal['Year'] == 2011)]['BasePay'].mean()
AvgBasePay2 = sal.loc[(sal['Year'] == 2012)]['BasePay'].mean()
AvgBasePay3 = sal.loc[(sal['Year'] == 2013)]['BasePay'].mean()
AvgBasePay4 = sal.loc[(sal['Year'] == 2014)]['BasePay'].mean()
AvgBasePay = sal.loc[(sal['Year'] == (2011 or 2012 or 2013 or 2014))]['BasePay'].mean()

In [17]:
print(AvgBasePay1)
print(AvgBasePay2)
print(AvgBasePay3)
print(AvgBasePay4)
print(AvgBasePay)

63595.95651677314
65436.40685742263
69630.03021648065
66564.42192449959
63595.95651677314

**How many unique job titles are there?**

In [18]:
n = len(pd.unique(sal['JobTitle']))

In [19]:
print(n)

2159

**What are the top 5 most common jobs?**

In [20]:

MC = sal.groupby(["JobTitle"]).size().nlargest(5)

In [21]:
print(MC)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [22]:
JT = sal.groupby(['JobTitle', 'Year']).size().sort_values(ascending=True).reset_index(name='count')
print(JT)

                        JobTitle  Year  count
0                    ZOO CURATOR  2011      1
1     Gen Mgr, Public Trnsp Dept  2014      1
2     Gen Mgr, Public Trnsp Dept  2013      1
3     Gen Mgr, Public Trnsp Dept  2012      1
4           GLAZIER SUPERVISOR I  2011      1
...                          ...   ...    ...
4132               Special Nurse  2014   1478
4133            Transit Operator  2012   2262
4134            Transit Operator  2013   2295
4135            TRANSIT OPERATOR  2011   2388
4136            Transit Operator  2014   2479

[4137 rows x 3 columns]

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [23]:
count = 0
for name in sal['JobTitle']:
  if 'CHIEF' in name:
    count += 1

print(count)

204

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

*Search what correlation is and how you can calculate that using Pandas*

Just one more assignment 🙂